.squad:nth-child(3n + 1) .soldier .piece {
  --col: calc(100% / 11);
  --width: calc(100% / 12 * 11);
  position: relative;
  width: var(--width);
}

.squad:nth-child(3n + 1) .soldier .piece::before {
  padding-top: calc((5 * var(--width) / 7) / 8);
}

.squad:nth-child(3n + 1) .soldier .piece1 {
  background-image: linear-gradient(to right,
          var(--off) 0,
          var(--off) calc(var(--col) * 2),
          var(--on) calc(var(--col) * 2),
          var(--on) calc(var(--col) * 3),
          var(--off) calc(var(--col) * 3),
          var(--off) calc(var(--col) * 8),
          var(--on) calc(var(--col) * 8),
          var(--on) calc(var(--col) * 9),
          var(--off) calc(var(--col) * 9));
}

.squad:nth-child(3n + 1) .soldier .piece2 {
  background-image: linear-gradient(to right,
          var(--off) 0,
          var(--off) calc(var(--col) * 3),
          var(--on) calc(var(--col) * 3),
          var(--on) calc(var(--col) * 4),
          var(--off) calc(var(--col) * 4),
          var(--off) calc(var(--col) * 7),
          var(--on) calc(var(--col) * 7),
          var(--on) calc(var(--col) * 8),
          var(--off) calc(var(--col) * 8));
}

.squad:nth-child(3n + 1) .soldier .piece3 {
  background-image: linear-gradient(to right,
          var(--off) 0,
          var(--off) calc(var(--col) * 2),
          var(--on) calc(var(--col) * 2),
          var(--on) calc(var(--col) * 9),
          var(--off) calc(var(--col) * 9));
}

.squad:nth-child(3n + 1) .soldier .piece4 {
  background-image: linear-gradient(to right,
          var(--off) 0,
          var(--off) calc(var(--col) * 1),
          var(--on) calc(var(--col) * 1),
          var(--on) calc(var(--col) * 3),
          var(--off) calc(var(--col) * 3),
          var(--off) calc(var(--col) * 4),
          var(--on) calc(var(--col) * 4),
          var(--on) calc(var(--col) * 7),
          var(--off) calc(var(--col) * 7),
          var(--off) calc(var(--col) * 8),
          var(--on) calc(var(--col) * 8),
          var(--on) calc(var(--col) * 10),
          var(--off) calc(var(--col) * 10));
}

.squad:nth-child(3n + 1) .soldier .piece5,
.squad:nth-child(3n + 1) .soldier .piece6 {
  background-color: var(--on);
}

.squad:nth-child(3n + 1) .soldier .piece7 {
  background-image: linear-gradient(to right,
          var(--on) 0,
          var(--on) calc(var(--col) * 1),
          var(--off) calc(var(--col) * 1),
          var(--off) calc(var(--col) * 2),
          var(--on) calc(var(--col) * 2),
          var(--on) calc(var(--col) * 3),
          var(--off) calc(var(--col) * 3),
          var(--off) calc(var(--col) * 8),
          var(--on) calc(var(--col) * 8),
          var(--on) calc(var(--col) * 9),
          var(--off) calc(var(--col) * 9),
          var(--off) calc(var(--col) * 10),
          var(--on) calc(var(--col) * 10),
          var(--on) calc(var(--col) * 11));
}

.squad:nth-child(3n + 1) .soldier .piece8 {
  background-image: linear-gradient(to right,
          var(--off) 0,
          var(--off) calc(var(--col) * 3),
          var(--on) calc(var(--col) * 3),
          var(--on) calc(var(--col) * 5),
          var(--off) calc(var(--col) * 5),
          var(--off) calc(var(--col) * 6),
          var(--on) calc(var(--col) * 6),
          var(--on) calc(var(--col) * 8),
          var(--off) calc(var(--col) * 8));
}